@import "~bootstrap/scss/bootstrap.scss";

.app {
    padding: 10px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    margin-top: 5%;
    text-align: center;
    object-position: center;    
    font-family: 'Fredoka One', cursive;
    border: solid 1px rgb(206, 206, 206);
    border-radius: 10px;
    width: 350px;
    background-color: red;
}
input {
    padding: 10px;
    margin: 15px;
    border: 2px solid green;
    border-radius: 10px;
    text-align: center;
}